# OpenAI
OPENAI_API_KEY=<your-openai-api-key>
OPENAI_LLM_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Qdrant Cloud
QDRANT_URL=<your-qdrant-url>
QDRANT_API_KEY=<your-qdrant-api-key>


# Langfuse
LANGFUSE_PUBLIC_KEY=<your-langfuse-public-key>
LANGFUSE_SECRET_KEY=<your-langfuse-secret-key>
LANGFUSE_BASE_URL=<your-langfuse-base-url>
LANGFUSE_HOST=https://cloud.langfuse.com

# Arize Phoenix (local)
PHOENIX_ENDPOINT=http://localhost:6006

# LangWatch
LANGWATCH_API_KEY=
